*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/*
section {
    background-color: rgb(237, 231, 246);
    font-family: 'Roboto', Helvetica, Arial, sans-serif !important;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 20px;
    color: #202124;
} */

.navbar{
    
    background-color: rgb(26, 35, 126);
    color: rgb(255, 255, 255);
}
.navbar img{
    
    width: 40%;
}
